.about {
  position: relative;

  &__cube {
    position: absolute;
    top: 200px;
    right: -350px;
    border: 2px solid var(--neutral-color-40);
    width: 150px;
    height: 150px;
    opacity: 0.2;
  }

  &__decor {
    position: absolute;
    top: -400px;
    left: -35%;
    z-index: var(--z-index-2);

    &-two {
      position: absolute;
      top: 50px;
      right: -35%;
      z-index: var(--z-index-2);
    }
  }

  &__body {
    position: relative;
    z-index: var(--z-index-3);
    display: flex;
    gap: 30px;
  }

  &__left {
    position: relative;
    border-radius: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: -20px;
      z-index: var(--z-index-2);
      border: 1px solid var(--neutral-color-30);
      border-radius: 10px; 
      width: 550px;
      height: 572px;
    }

    &-sticker {
      position: absolute;
      bottom: -36px;
      left: 50%;
      z-index: var(--z-index-4);
      border: 1px solid var(--neutral-color-30);
      border-radius: 10px;
      padding: 10px 0;
      width: 350px;
      text-align: center;
      text-transform: uppercase;
      background-color: var(--neutral-color-50);
      transform: translateX(-50%);
    }
 
    &-name {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 1.2em;
      color: var(--neutral-color-40);
    }

    &-profession {
      font-weight: 500;
      font-size: 1em;
      color: var(--neutral-color-20);
    }

    &-image {
      position: relative;
      z-index: var(--z-index-3);
      display: inline-block;
      overflow: hidden;
      border-radius: 10px;
    }
    
    & img {
      border: 1px solid var(--neutral-color-30);
      border-radius: 10px;
      min-width: 550px;
      transition: transform var(--transition);

      &:hover {
        transform: scale(1.04);
      }
    }
  }

  &__information {
    @include flex-column;
    gap: 40px;

    &-box {
      position: relative;
      border-bottom: 1px solid var(--neutral-color-30);
    }

    &-title {
      margin-bottom: 15px;
      text-transform: uppercase;
      color: var(--neutral-color-40);
    }

    &-description {
      margin-bottom: 15px;
      color: var(--neutral-color-70);
    }

    &-label {
      text-transform: uppercase;
      color: var(--neutral-color-40);
    }
  }
}