.consultation {
  position: relative;
  z-index: var(--z-index-5);

  &__body {
    overflow: hidden;
    padding: 30px;
    transition: border var(--transition);

    @include breakpoint-900 {
      padding: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%; 
      right: -70px;
      z-index: 1;
      width: 250px;
      height: 250px;
      background: url('/assets/images/3D/cube.webp') no-repeat;
      background-size: contain;
      opacity: 0.7;
      transform: translateY(-50%);

      @include breakpoint-1300 {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 30px;
    max-width: 850px;
    color: var(--neutral-color-70);
  }

  &__form {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 300px);
    margin-bottom: 30px;

    @include breakpoint-1100 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint-900 {
      @include flex-column;
      max-width: 400px;
    }

    &-button {
      padding: 20.7px 0;
    }

    &-label {
      & span {
        color: var(--neutral-color-70);
      }
    }
  }

  &__privacy {
    max-width: 600px;
    color: var(--neutral-color-70);

    & a {
      color: var(--neutral-color-90);
    }
  }
}