.hero {
  position: relative;
  border-bottom: 1px solid var(--neutral-color-30);
  padding: 80px 0;

  &__inner {
    margin: 0 auto;
    max-width: 1920px;
  }

  &__decor {
    position: absolute;
    top: -600px;
    left: -35%;
    z-index: var(--z-index-2);

    &-two {
      position: absolute;
      top: 50px;
      right: -35%;
      z-index: var(--z-index-2);
    }
  }

  &__body {
    @include flex-between;
    position: relative;
    z-index: var(--z-index-3);
    gap: 15px;
    margin-bottom: 80px;
  }

  &__information {
    max-width: 750px;
  }

  &__title {
    margin-bottom: 100px;
    height: 67px;
    line-height: 1.4;
    text-transform: uppercase;
    transition: all var(--transition);

    & span {
      color: var(--neutral-color-40);
    }
  }

  &__description {
    margin-bottom: 50px;
    color: var(--neutral-color-70);
  }

  &__button {
    border-radius: 30px;
    padding: 16px 30px;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  &__cube {
    & svg {
      width: 450px;
      height: 380px;
    }
  }

  &__achievement {
    position: relative;
    z-index: var(--z-index-3);
    max-width: 100%;

    &-row {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, auto);
    }

    &-box {
      position: relative;
      overflow: hidden;
      border: 1px solid var(--neutral-color-30);
      border-radius: 10px;
      padding: 30px;
      background-color: var(--neutral-color-10);
    }

    &-eclipse {
      position: absolute;
      width: 200px;
      height: 130px;

      &--one {
        top: -30px;
        left: -30px;
        transform: scaleX(-1);
      }

      &--two {
        right: -40px; 
        bottom: -40px;
        transform: rotate(90deg);
      }

      &--three {
        top: -30px;
        right: -30px;
      }

      &--four {
        bottom: -40px;
        left: -40px;
        transform: rotate(-180deg);
      }
    }

    &-information {
      position: relative;
      z-index: var(--z-index-2);
    } 

    &-number {
      margin-bottom: 10px;
      font-weight: 400; 
      font-size: 2.5em;
      color: var(--neutral-color-40);
    }

    &-description {
      color: var(--neutral-color-70);
    }
  }

  &__bottom {
    @include flex-justify-center;
  }

  &__btn-scroll-down {
    @include flex-all-center;
    border: 2px solid var(--neutral-color-40);
    border-radius: 25px;
    width: 41px;
    height: 60px;
    background-color: var(--neutral-color-40);
    transition: background-color var(--transition);

    & svg {
      width: 18px;
      height: 18px;
      transition: all var(--transition);
      animation: hero-arrow 1.5s infinite;

      & path {
        fill: var(--neutral-color-10);
        transition: fill var(--transition);
      }
    }

    @keyframes hero-arrow {
      0%, 100% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-4px);
      }
    }

    &:hover {
      background-color: transparent;

      & path {
        fill: var(--neutral-color-40);
      }

      & svg {
        animation: none; 
      }
    }
  }
}
