.hero {
  position: relative;
  padding: 80px 0;

  @include breakpoint-1200 {
    padding: 50px 0;
  }

  @include breakpoint-900 {
    padding: 30px 0;
  }

  &__inner {
    margin: 0 auto;
    max-width: 1920px;
  }

  &__decor {
    position: absolute;
    top: -600px;
    left: -70%;
    z-index: var(--z-index-2);

    @include breakpoint-900 {
      left: -90%;
      opacity: 0.5;
    }

    &-two {
      position: absolute;
      top: 50px;
      right: -70%;
      z-index: var(--z-index-2);

      @include breakpoint-900 {
        right: -90%;
        opacity: 0.5;
      }
    }
  }

  &__body {
    @include flex-between;
    position: relative;
    z-index: var(--z-index-3);
    gap: 15px;
    margin-bottom: 80px;

    @include breakpoint-900 {
      margin-bottom: 40px;
    }
  }

  &__information {
    position: relative;
    z-index: var(--z-index-2);
    max-width: 750px;
  }

  &__title {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--neutral-color-20);
    transition: all var(--transition);

    & span {
      color: var(--neutral-color-40);
    }

    @include breakpoint-900 {
      margin-bottom: 20px;
    }
  }

  &__description {
    margin-bottom: 50px;
    max-width: 650px;
    color: var(--neutral-color-70);

    @include breakpoint-900 {
      margin-bottom: 35px;
    }
  }

  &__button {
    @include flex-between;
    align-items: center;
    border-radius: 30px;
    padding: 7px;
    min-width: 270px;

    @include breakpoint-900 {
      min-width: 250px;
    }

    & span {
      position: relative;
      margin: 0 auto;
      font-weight: 600;
      font-size: 1em;
      text-transform: uppercase;
    }

    &-icon {
     position: relative;
     z-index: var(--z-index-2);
     border-radius: 50%;
     width: 40px;
     height: 40px;
     background-color: var(--neutral-color-10);
     transition: background-color var(--transition);

     @include breakpoint-900 {
       width: 30px;
       height: 30px;
     }

      & svg {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 17px;
        height: 17px;
        transform: translate(50%, -50%);

        @include breakpoint-900 {
          width: 14px;
          height: 14px;
        }

        & path {
          fill: var(--neutral-color-20);
          transition: fill var(--transition);
        }
      }
    }

    &:hover &-icon {
      background-color: var(--neutral-color-40);
    }

    &:hover path {
      fill: var(--neutral-color-10);
    }
  }

  &__cube {
    & svg {
      width: 450px;
      height: 380px;

      @include breakpoint-1200 {
        position: absolute;
        top: 0; 
        right: -100px;
        width: 400px;
        height: 330px;
        opacity: 0.6;
      }

      @include breakpoint-900 {
        display: none;
      }
    }
  }

  &__achievement {
    position: relative;
    z-index: var(--z-index-3);
    max-width: 100%;

    &-row {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, auto);

      @include breakpoint-900 {
        gap: 15px;
      }

      @include breakpoint-tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
      }

      @include breakpoint-500 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
      }
    }

    &-box {
      position: relative;
      overflow: hidden;
      border: 1px solid var(--neutral-color-30);
      border-radius: 10px;
      padding: 30px;
      background-color: var(--neutral-color-10);
      transition: transform var(--transition);

      @include breakpoint-900 {
        padding: 20px;
      }

      &:hover {
        transform: scale(1.01);
      }
    }

    &-eclipse {
      position: absolute;
      width: 200px;
      height: 130px;

      @include breakpoint-500 {
        opacity: 0.4;
      }

      &--one {
        top: -30px;
        left: -30px;
        transform: scaleX(-1);
      }

      &--two {
        right: -40px; 
        bottom: -40px;
        transform: rotate(90deg);
      }

      &--three {
        top: -30px;
        right: -30px;

        @include breakpoint-500 {
          left: -40px;
          transform: rotate(-90deg);
        }
      }

      &--four {
        bottom: -40px;
        left: -40px;
        transform: rotate(-180deg);

        @include breakpoint-500 {
          left: 60%;
          transform: rotate(90deg);
        }
      }
    }

    &-information {
      position: relative;
      z-index: var(--z-index-2);
    } 

    &-number {
      margin-bottom: 10px;
      font-weight: 400; 
      font-size: 2.5em;
      color: var(--neutral-color-40);

      @include breakpoint-900 {
        font-size: 2em;
      }
    }

    &-description {
      color: var(--neutral-color-70);
    }
  }

  &__btn-scroll-down {
    @include flex-all-center;
    position: absolute;
    right: 50%;
    bottom: 0;
    border: 2px solid var(--neutral-color-40);
    border-radius: 25px;
    width: 41px;
    height: 60px;
    opacity: 0.6;
    transform: translateX(50%);
    transition: background-color var(--transition), opacity var(--transition);

    @include breakpoint-900 {
      display: none;
    }

    & svg {
      width: 18px;
      height: 18px;
      transition: all var(--transition);
      animation: hero-arrow 1.5s infinite;
    }

    &-path {
      fill: var(--neutral-color-40);
      transition: fill var(--transition);
    }

    &:hover {
      opacity: 1;
    }

    @keyframes hero-arrow {
      0%, 100% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-4px);
      }
    }
  }
}
