.marquee {
  position: relative;
  z-index: var(--z-index-3);
  padding: 0 !important;
  height: 0;
  opacity: 0;
  visibility: hidden;

  &__box {
    border-radius: 10px;
    padding: 25px 0;
  }

  &__list {
    @include flex-all-center;
    gap: 25px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__tags {
    display: inline-block;
    border: 1px solid var(--neutral-color-70);
    border-radius: 25px;
    padding: 10px 20px;
    white-space: nowrap;
    color: var(--neutral-color-40);
    transition: transform var(--transition);

      &:hover {
        transform: scale(1.02);
      }
  }
}