.portfolio {
  &__head {
    margin-bottom: 30px;

    @include breakpoint-900 {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include breakpoint-900 {
      margin-bottom: 10px;
    }
  }

  &__description {
    max-width: 750px;
    color: var(--neutral-color-70);
  }

  &__case {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-bottom: 30px;

    @include breakpoint-700 {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, auto);
    }
  }

  &__project {
    overflow: hidden;
    padding: 30px;
    transition: border var(--transition);

    @include breakpoint-900 {
      padding: 20px;
    }

    &-eclips {
      position: absolute;
      right: -40px;
      bottom: -10px;
      opacity: 0.8;
      transform: rotate(90deg);
      
      & svg {
        width: 300px;
        height: 300px;
        transition: transform var(--transition);
      }
    }

    &:hover svg {
      transform: scale(1.1);
   }

   &-overlay {
    @include flex-column;
    position: absolute;
    top: 0; 
    right: 0;
    z-index: var(--z-index-2);
    display: none;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #000000f2;
    opacity: 0;
    transition: opacity var(--transition);
   }

   &:hover &-overlay {
    opacity: 1;
   }

    &-name {
      margin-bottom: 20px;
      color: var(--neutral-color-20);

      & span {
        color: var(--neutral-color-40);
      }
    }

    &-description {
      margin-bottom: 30px;
      color: var(--neutral-color-70);
    }

    &-tags {
      @include flex-align-center;
      gap: 15px;
    }

    &-box {
      @include flex-all-center;
      position: relative;
      z-index: var(--z-index-2);
      overflow: hidden;
      border-radius: 10px;
    }

    &-laptop {
      position: relative;
      z-index: var(--z-index-2);
      max-width: 100%;

      & img {
        width: 100%;
      }
    }

    &-btn {
      @include flex-align-center;
      gap: 15px;
      width: 100%;
    }
    
    &-more,
    &-preview {
      display: block;
      min-width: 200px;
      text-align: center;
    }

    &-last {
      @include flex-all-center;
    }

    &-button {
      min-width: 200px;
      text-align: center;
    }
  }

  &__more {
    display: block;
    max-width: 210px;
    text-align: center;
  }
}