.questions {
  &__head {
    margin-bottom: 30px;

    @include breakpoint-900 {
      margin-bottom: 20px;
    }
  }

  &__list {
    @include flex-column;
    gap: 20px;

    @include breakpoint-900 {
      gap: 15px;
    }
  }

  &__accordion {
    padding: 30px;
    height: auto;
    transition: border var(--transition);
    cursor: pointer;

    @include breakpoint-900 {
      padding: 20px;
    }

    &:hover {
      border: 1px solid var(--neutral-color-40);
    }

    &.active {
      border: 1px solid var(--neutral-color-40);
    }

    & path {
      fill: var(--neutral-color-40);
    }

    &-row {
      @include flex-all-between;
      gap: 15px;

      @include breakpoint-500 {
        gap: 5px;
      }
    }

    &-title {
      color: var(--neutral-color-40);
    }

    &-arrow {
      position: relative;
      border: 1px solid var(--neutral-color-40);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      transition: transform var(--accordion-transtion), background-color var(--transition);

      @include breakpoint-700 {
        width: 30px;
        height: 30px;
      }

      @include breakpoint-500 {
         width: auto;
         height: auto;
      }

      svg {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 16px;
        height: 16px;
        transform: translate(50%, -50%);

        @include breakpoint-700 {
          width: 14px;
          height: 14px;
        }
      }

      & path {
        fill: var(--neutral-color-40);
        transition: fill var(--accordion-transtion);
      }

      &.active {
        background-color: var(--neutral-color-40);
        transform: rotate(90deg); 

        & path {
          fill: var(--neutral-color-10);

          @include breakpoint-500 {
            fill: var(--neutral-color-40);
          }
        }
      }
    }

    &-content {
      overflow: hidden;
      padding-top: 0;
      max-height: 0;
      transition: max-height var(--accordion-transtion);
    }

    &-content.active {
      max-height: auto;
    }

    &-description {
      max-width: 750px;
      line-height: 1.4;
      color: var(--neutral-color-70);
    }

    &-list {
      @include flex-column;
      gap: 10px;
    }

    &-item {
      @include flex-align-center;
      gap: 10px;

      & svg {
        width: 15px;
        height: 15px;
      }

      & span {
        color: var(--neutral-color-70);
      }
    }
  }
}
