.reviews {
  position: relative;
  z-index: var(--z-index-5);
  padding: 50px 0;

  &__head {
    @include flex-between;
    align-items: end;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    max-width: 750px;
    color: var(--neutral-color-70);
  }

  &__slider {
    &-nav {
      display: flex;
      gap: 15px;
    }

    &-nav-arrow {
      position: relative;
      border: 1px solid var(--neutral-color-40);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: var(--neutral-color-40);
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.9;
      }

      & svg {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 20px;
        height: 20px;
        transform: translate(50%, -50%);
      }
    }

    &-arrow--is-disabled {
      opacity: 0.4;

      &:hover {
        opacity: 0.4;
      }
    }

    &-carousel {
      display: flex;
      gap: 25px;
    }

    &-card, 
    &-card--last {
      overflow: hidden;
      padding: 30px;
      max-width: 390px;
      transition: border var(--transition), transform var(--transition);
    }

    &-card {
      cursor: pointer;

      &:hover {
        border: 1px solid var(--neutral-color-40);
        transform: scale(0.95);
      }

      &--last {
        @include flex-all-center;
      }

      &-link {
        padding: 15px;
        text-decoration: underline;
        text-transform: uppercase;
        color: var(--neutral-color-40);
        transition: opacity var(--transition);

        &:hover {
          opacity: 0.7;
        }
      }

      &-head {
        @include flex-align-center;
        gap: 15px;
        margin-bottom: 20px;
      }

      &-avatar {
        border: 2px solid var(--neutral-color-40);
        border-radius: 50%;
        width: 60px;
        height: 60px;

        & img {
          border-radius: 50%;
        }
      }

      &-name {
        margin-bottom: 5px;
        color: var(--neutral-color-40);
      }

      &-description {
        margin-bottom: 20px;
        height: 104px;
        line-height: 1.3;
        color: var(--neutral-color-70);
      }

      &-bottom {
        border-top: 1px solid var(--neutral-color-40);
        padding-top: 20px;
      }
    }
  }

  &__popup {
    position: fixed;
    top: 0; 
    right: 0;
    z-index: var(--z-index-6);
    display: none;
    width: 100%;
    height: 100%;

    &.active {
      display: block;
    }

    &-overlay {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: var(--neutral-color-60);
    }

    &-close {
      position: absolute;
      top: 15px;
      right: 15px;
      border: 2px solid var(--neutral-color-40);
      border-radius: 10px;
      width: 50px;
      height: 50px;
      transition: background-color var(--transition);

      &:hover {
        background-color: var(--neutral-color-40);
      }

      & svg {
        width: 25px;
        height: 25px;
      }

      & path {
        fill: var(--neutral-color-40);
        transition: fill var(--transition);
      }

      &:hover path {
        fill: var(--neutral-color-10);
      }
    }

    &-content {
      @include flex-all-center;
      width: 100%;
      height: 100%;
    }

    &-card {
      position: relative;
      border: 1px solid var(--neutral-color-30);
      border-radius: 10px;
      padding: 30px;
      max-width: 550px;
      background-color: var(--neutral-color-50);
      animation: popup-card .3s ease-in-out;

      @keyframes popup-card {
        0% {
          transform: scale(0.5)
        }

        100% {
          transform: scale(1)
        }
      }

      &-head {
        @include flex-align-center;
        gap: 15px;
        margin-bottom: 20px;
      }

      &-avatar {
        border: 2px solid var(--neutral-color-40);
        border-radius: 50%;
        width: 75px;
        height: 75px;

        & img {
          border-radius: 50%;
          width: 100%;
        }
      }

      &-name {
        margin-bottom: 5px;
        font-size: 1.3em;
        color: var(--neutral-color-40);
      }

      &-description {
        margin-bottom: 20px;
        height: 100px;
        font-size: 1.1em;
        line-height: 1.3;
        color: var(--neutral-color-70);
      }

      &-bottom {
        border-top: 1px solid var(--neutral-color-40);
        padding-top: 20px;
      }
    }
  }
}