.services {
  &__container {
    position: relative;
  }

  &__decor {
    position: absolute;
    top: -400px;
    left: -70%;
    z-index: var(--z-index-2);

    &-two {
      position: absolute;
      right: -70%;
      bottom: -400px;
      z-index: var(--z-index-2);
    }
  }

  &__head {
    position: relative;
    z-index: var(--z-index-3);
    margin-bottom: 30px;

    @include breakpoint-900 {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include breakpoint-900 {
      margin-bottom: 10px;
    }
  }

  &__description {
    max-width: 750px;
    color: var(--neutral-color-70);
  }

  &__body {
    position: relative;
    z-index: var(--z-index-3);
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    @include breakpoint-900 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    @include breakpoint-tablet {
      gap: 10px;
    }

    @include breakpoint-700 {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
    }
  }

  &__card {
    &-head {
      border-bottom: 1px solid var(--neutral-color-30);
      padding: 20px;
      text-align: center;
    }

    &-name {
      margin-bottom: 10px;
      color: var(--neutral-color-40); 
    }

    &-description {
      color: var(--neutral-color-70);
    }

    &-content {
      padding: 20px;
    }

    &-prise {
      display: none;
    }

    &-list {
      @include flex-column;
      gap: 15px;
      margin-bottom: 30px;
      border: 1px solid var(--neutral-color-30);
      padding: 15px;
      background-color: var(--neutral-color-10);

      @include breakpoint-900 {
        margin-bottom: 20px;
      }
    }

    &-item {
      @include flex-align-center;
      gap: 8px;
      color: var(--neutral-color-70);
       
      & svg {
        width: 20px;
        height: 20px;
      }

      & path {
        fill: var(--neutral-color-40);
      }
    }

    &-btn {
      @include flex-align-center;
      gap: 15px;

      @include breakpoint-900 {
        flex-wrap: wrap;
      }
    }

    &-button, &-link {
      min-width: 170px;
      text-align: center;

      @include breakpoint-900 {
        margin: 0 auto;
        min-width: 230px;
      }

      @include breakpoint-tablet {
        min-width: 100%;
      }

      @include breakpoint-700 {
        min-width: 240px;
      }

      @include breakpoint-500 {
        min-width: 100%;
      }
    }
  }
}

