.step-work {
  &__title {
    margin-bottom: 30px;

    @include breakpoint-900 {
      margin-bottom: 20px;
    }
  }

  &__body {
    @include flex-between;
  }

  &__list {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    @include breakpoint-900 {
      @include flex-column;
    }
  }

  &__row {
    @include flex-align-center;
    gap: 20px;

    @include breakpoint-700 {
      align-items: start;
    }

    @include breakpoint-600 {
      gap: 15px;
    }
  }

  &__number {
    @include flex-all-center;
    border-radius: 10px;
    min-width: 70px;
    min-height: 70px;
    font-weight: 500;
    font-size: 1.5em;
    color: var(--neutral-color-10);
    background-color: var(--neutral-color-40);

    @include breakpoint-700 {
      min-width: 60px;
      min-height: 60px;
      font-size: 1.3em;
    }

    @include breakpoint-600 {
      min-width: 50px;
      min-height: 50px;
      font-size: 1.1em;
    }
  }

  &__label {
    margin-bottom: 5px;
    color: var(--neutral-color-40);
  }

  &__description {
    color: var(--neutral-color-70);
  }
}