.footer {
  border-top: 1px solid var(--neutral-color-30);
  padding: 35px 0 0;

  &__label {
    margin-bottom: 15px;
    color: var(--neutral-color-40);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__list {
    @include flex-column;
    gap: 10px;
  }

  &__link {
    color: var(--neutral-color-70);
  }

  &__bottom {
    @include flex-all-between;
    border-top: 1px solid var(--neutral-color-30);
    padding: 25px 0;
  }

  &__copyright {
    color: var(--neutral-color-70);
  }
}