.sidebar-menu {
  position: fixed;
  top: 0;
  z-index: var(--z-index-4);
  overflow-y: auto;
  width: 330px;
  height: 100dvh;
  background: var(--neutral-color-50);
  transform: translateX(-100%);
  transition: transform var(--transition);

  &.active {
    transform: translateX(0);
  }

  &__inner {
    min-height: 100%;
  }

  &__container {
    @include flex-column;
    justify-content: space-between;
    min-height: 100dvh;
  }

  &__top {
    border-bottom: 1px solid var(--neutral-color-30);
    padding: 20px 15px;
  }

  &__section {
    border-bottom: 1px solid var(--neutral-color-30);
  } 

  &__row {
    @include flex-all-between;
    padding: 18px 15px 18px 8px;
    transition: opacity var(--transition);
    cursor: pointer;

    &-label {
      font-weight: 400;
      font-size: 1.1em;
      color: var(--neutral-color-20);
      transition: color var(--accordion-transtion);
    }

    &-arrow {
      @include flex-align-center;
      transition: transform var(--accordion-transtion);

      & svg path {
        fill: var(--neutral-color-20);
      }
  
      &.active {
        transform: rotate(90deg);

        & path {
          fill: var(--neutral-color-40);
        }
      }
  
      & svg {
        width: 17px;
        height: 17px;
      }
    }

    &.active {
      & h3 {
        color: var(--neutral-color-40);
      }
    }
  }

  &__accordion {
    overflow: hidden;
    max-height: 0;
    transition: max-height var(--accordion-transtion);

    &.active {
      max-height: auto;
    }
  }

  &__list {
    margin-bottom: 18px;
  }

  &__link {
    @include flex-align-center;
    position: relative;
    gap: 8px;
    overflow: hidden;
    padding: 12px 15px;
    color: var(--neutral-color-20);
    transition: all var(--transition);

    &::before {
      content: '';
      position: absolute;
      top: 0; right: 0;
      display: none;
      width: 3px;
      height: 52.08px;
      background-color: var(--neutral-color-40);
      transition: all var(--transition);
    }

    & img {
      border-radius: 2px;
      width: 20px;
      height: 20px;
      filter: grayscale(100%);
      transition: filter var(--transition);

      &:hover {
        filter: grayscale(0%);
      }
    }

    & svg {
      width: 17px;
      height: 17px;
    }

    & path {
      fill: var(--neutral-color-20);
      transition: all var(--transition);
    }

    &:hover {
      color: var(--neutral-color-40); 
      background: var(--neutral-color-30);

      &::before {
        display: block;
      }

      & svg path {
        fill: var(--neutral-color-40);
      }
    }
  }
  
  &__button {
    height: 56.22px;
    min-width: 100%;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-transform: uppercase;
  }
}