:root {
  // neutral color
  --neutral-color-10: #141416;
  --neutral-color-20: #fcfcfd;
  --neutral-color-30: #353945;
  --neutral-color-40: #48ff91;

  // social color
  --telegram-color: #2AABEE;

  // transition
  --transition: 0.2s ease-in-out;

}