:root {
  // neutral color
  --neutral-color-10: #141416;
  --neutral-color-20: #fcfcfd;
  --neutral-color-30: #353945;
  --neutral-color-40: #48ff91;
  --neutral-color-50: #111112;
  --neutral-color-60: #000000d8;
  --neutral-color-70: #b9bac0;
  --neutral-color-80: #106231;
  --neutral-color-90: #4b7ad8;

  // transition
  --transition: 0.2s ease-in-out;
  --accordion-transtion: 0.5s ease-in-out;

  // z-index
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;
  --z-index-7: 7;

}