.text {
  &-description {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.3;
  }

  &-link {
    font-weight: 400;
    font-size: 1.125em;
  }

  &-link-sidebar {
    font-weight: 400;
    font-size: 1.2em;
  }
}

.heading {
  &-title {
    font-weight: 500;
    font-size: 3em;
    color: var(--neutral-color-20);
  }
}