<section class="about main-section" id="about">
  <div class="about__inner">
    <div class="about__decor">
      <svg xmlns="http://www.w3.org/2000/svg" width="1252" height="1252" viewBox="0 0 1252 1252" fill="none">
        <g opacity="0.7" filter="url(#filter0_f_2_5)">
        <circle cx="626" cy="626" r="126" fill="#48ff91"/>
        </g>
        <defs>
        <filter id="filter0_f_2_5" x="0" y="0" width="1252" height="1252" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="250" result="effect1_foregroundBlur_2_5"/>
        </filter>
        </defs>
      </svg>
    </div>
    <div class="about__decor-two">
      <svg xmlns="http://www.w3.org/2000/svg" width="1252" height="1252" viewBox="0 0 1252 1252" fill="none">
        <g opacity="0.7" filter="url(#filter0_f_2_5)">
        <circle cx="626" cy="626" r="126" fill="#48ff91"/>
        </g>
        <defs>
        <filter id="filter0_f_2_5" x="0" y="0" width="1252" height="1252" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="250" result="effect1_foregroundBlur_2_5"/>
        </filter>
        </defs>
      </svg>
    </div>
    <div class="about__container container">
      <div class="about__cube"></div>
      <div class="about__body">
        <div class="about__left">
          <div class="about__left-sticker">
            <h3 class="about__left-name">Хаят Кусогонов</h3>
            <h4 class="about__left-profession">Веб-разработчик</h4>
          </div>
          <a class="about__left-image" href="/assets/images/khaiat.jpg" data-fslightbox="gallery">
            <img loading="lazy" width="550" height="572" src="./assets/images/khaiat.jpg" alt="Хаят Кусогонов | Веб-разработчик">
          </a>
        </div>
        <div class="about__information">
          <div class="about__information-box">
            <h2 class="about__information-title heading-subtitle">Обо мне</h2>
            <p class="about__information-description text-description">Приветствую ! Меня зовут Хаят, я веб-разработчик.</p>
            <p class="about__information-description text-description">Уже более года занимаюсь разработкой сайтов. Моя цель - создавать качественные и удобные сайты. Мое главное стремление сделать ваше онлайн-присутствие комфортным. Каждое, даже самое амбициозное и сложное решение, я привожу к великолепному результату.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
