<section class="hero" id="home">
  <div class="hero__inner">
    <div class="hero__container container">
      <div class="hero__decor">
        <svg xmlns="http://www.w3.org/2000/svg" width="1252" height="1252" viewBox="0 0 1252 1252" fill="none">
          <g opacity="0.7" filter="url(#filter0_f_2_5)">
          <circle cx="626" cy="626" r="126" fill="#48ff91"/>
          </g>
          <defs>
          <filter id="filter0_f_2_5" x="0" y="0" width="1252" height="1252" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feGaussianBlur stdDeviation="250" result="effect1_foregroundBlur_2_5"/>
          </filter>
          </defs>
        </svg>
      </div>
      <div class="hero__decor-two">
        <svg xmlns="http://www.w3.org/2000/svg" width="1252" height="1252" viewBox="0 0 1252 1252" fill="none">
          <g opacity="0.7" filter="url(#filter0_f_2_5)">
          <circle cx="626" cy="626" r="126" fill="#48ff91"/>
          </g>
          <defs>
          <filter id="filter0_f_2_5" x="0" y="0" width="1252" height="1252" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feGaussianBlur stdDeviation="250" result="effect1_foregroundBlur_2_5"/>
          </filter>
          </defs>
        </svg>
      </div>
      <div class="hero__body">
        <div class="hero__information">
          <h1 class="hero__title heading-title">Разработка <span>уникального сайта</span> для вашего бизнеса</h1>
          <p class="hero__description text-description">Разрабатываю стильные и удобные сайты, которые помогут вашему делу выделиться в интернете. Свяжитесь со мной, чтобы обсудить проект!</p>
          <button class="hero__button open-modal green-button">
            <span>Заказать сайт</span>
            <div class="hero__button-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
              </svg>
            </div>
            </svg>              
          </button>
        </div>
        <div class="hero__cube">
          <svg class="hero__cube-vector" width="567" height="489" viewBox="0 0 567 489" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M419.565 246.405H280.471L209.993 127.013L351.215 127.013L419.565 246.405Z" fill="#00e95c"/>
            <path d="M419.565 243.865H280.471L209.993 363.257H351.215L419.565 243.865Z" fill="#003716"/>
            <path d="M216.205 132.094L152.837 244.61L216.205 359.447L283.661 244.61L216.205 132.094Z" fill="#047734"/>
            <path d="M186.888 80.0181L378.92 80.0181L346.161 136.267H219.286L155.577 246.405L90.6009 246.405L186.888 80.0181Z" fill="#003716"/>
            <path d="M186.888 410.252H378.92L346.523 354.862H219.286L155.577 246.405L90.6009 246.405L186.888 410.252Z" fill="#00e95c"/>
            <path d="M378.234 81.2883L472.91 246.039L378.234 410.252L345.897 355.036L408.775 246.039L345.897 137.042L378.234 81.2883Z" fill="#047734"/>
            <path d="M141.489 -3.05176e-05L0.421875 244.9L141.489 489L189.671 406.923L95.9834 244.9L189.671 82.8768L141.489 -3.05176e-05Z" fill="#047734"/>
            <path d="M424.802 489H141.406L189.752 406.13H376.99L471.01 243.865H566.9L424.802 489Z" fill="#003716"/>
            <path d="M424.802 0L141.406 0L189.218 82.4407L376.99 82.4407L471.01 243.865H566.9L424.802 0Z" fill="#00e95c"/>
          </svg>                       
        </div>
        <a class="hero__btn-scroll-down" href="#about">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path class="hero__btn-scroll-down-path" d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
          </svg>
        </a>
      </div>
      <div class="hero__achievement">
        <ul class="hero__achievement-row">
          <li class="hero__achievement-box">
            <svg class="hero__achievement-eclipse hero__achievement-eclipse--one" width="260" height="178" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>    
            <div class="hero__achievement-information">
              <h3 class="hero__achievement-number">0</h3>
              <p class="hero__achievement-description text-default">Негативных отзывов</p>
            </div>
          </li>
          <li class="hero__achievement-box">
            <svg class="hero__achievement-eclipse hero__achievement-eclipse--two" width="260" height="178" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
            <div class="hero__achievement-information">
              <h3 class="hero__achievement-number">20+</h3>
              <p class="hero__achievement-description text-default">Успешных проектов</p>
            </div>
          </li>
          <li class="hero__achievement-box">
            <svg class="hero__achievement-eclipse hero__achievement-eclipse--three" width="260" height="178" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
            <div class="hero__achievement-information">
              <h3 class="hero__achievement-number">5/5</h3>
              <p class="hero__achievement-description text-default">Оценка клиентов</p>
            </div>
          </li>
          <li class="hero__achievement-box">  
            <svg class="hero__achievement-eclipse hero__achievement-eclipse--four" width="260" height="178" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>     
            <div class="hero__achievement-information">
              <h3 class="hero__achievement-number">100%</h3>
              <p class="hero__achievement-description text-default">Заказов, сданных во время</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
