<section class="marquee">
  <div class="marquee__inner">
    <div class="marquee__container container">
      <div class="marquee__box">
        <ul class="marquee__list marquee__list--left">
          <li class="marquee__tags text-default">Создание сайтов под ключ</li>
          <li class="marquee__tags text-default">Профессиональная верстка</li>
          <li class="marquee__tags text-default">Адаптивная веб-разработка</li>
          <li class="marquee__tags text-default">Поддержка и обслуживание сайтов</li>
          <li class="marquee__tags text-default">Индивидуальная разработка сайтов</li>
          <li class="marquee__tags text-default">SEO-оптимизация сайтов</li>
          <li class="marquee__tags text-default">Разработка корпоративных сайтов</li>
          <li class="marquee__tags text-default">Разработка лендингов</li>
          <li class="marquee__tags text-default">Индивидуальный подход к разработке сайтов</li>
          <li class="marquee__tags text-default">Заказать сайт</li>
          <li class="marquee__tags text-default">Купить лендинг</li>
          <!-- Копия списка для бесконечного эффекта -->
          <li class="marquee__tags text-default">Создание сайтов под ключ</li>
          <li class="marquee__tags text-default">Профессиональная верстка</li>
          <li class="marquee__tags text-default">Адаптивная веб-разработка</li>
          <li class="marquee__tags text-default">Поддержка и обслуживание сайтов</li>
          <li class="marquee__tags text-default">Индивидуальная разработка сайтов</li>
          <li class="marquee__tags text-default">SEO-оптимизация сайтов</li>
          <li class="marquee__tags text-default">Разработка корпоративных сайтов</li>
          <li class="marquee__tags text-default">Разработка лендингов</li>
          <li class="marquee__tags text-default">Индивидуальный подход к разработке сайтов</li>
          <li class="marquee__tags text-default">Заказать сайт</li>
          <li class="marquee__tags text-default">Купить лендинг</li>
        </ul>
        <ul class="marquee__list marquee__list--right">
          <li class="marquee__tags text-default">Front-end разработка</li>
          <li class="marquee__tags text-default">JavaScript разработка</li>
          <li class="marquee__tags text-default">HTML и CSS верстка</li>
          <li class="marquee__tags text-default">UX/UI дизайн</li>
          <li class="marquee__tags text-default">Верстка по макету</li>
          <li class="marquee__tags text-default">Создание сайтов под ключ недорого</li>
          <li class="marquee__tags text-default">Разработка сайтов на заказ</li>
          <li class="marquee__tags text-default">Кроссбраузерная верстка</li>
          <!-- Копия списка для бесконечного эффекта -->
          <li class="marquee__tags text-default">Front-end разработка</li>
          <li class="marquee__tags text-default">JavaScript разработка</li>
          <li class="marquee__tags text-default">HTML и CSS верстка</li>
          <li class="marquee__tags text-default">UX/UI дизайн</li>
          <li class="marquee__tags text-default">Верстка по макету</li>
          <li class="marquee__tags text-default">Создание сайтов под ключ недорого</li>
          <li class="marquee__tags text-default">Разработка сайтов на заказ</li>
          <li class="marquee__tags text-default">Кроссбраузерная верстка</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
