<section class="portfolio" id="portfolio">
  <div class="portfolio__inner">
    <div class="portfolio__container container">
      <div class="portfolio__head">
        <h2 class="portfolio__title heading-title">Портфолио</h2>
        <p class="portfolio__description text-description">Ознакомьтесь с моими реализованными проектами, которые показывают качество работы и индивидуальный подход к каждому клиенту.</p>
      </div>
      <div class="portfolio__case">
        <article class="portfolio__project">
          <div class="portfolio__project-decor">
            <svg width="64" height="49" viewBox="0 0 64 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 17V16C16 7.16344 23.1634 0 32 0C40.8366 0 48 7.16344 48 16V17C56.8366 17 64 24.1634 64 33C64 41.8366 56.8366 49 48 49H16C7.16344 49 0 41.8366 0 33C0 24.1634 7.16344 17 16 17Z" fill="url(#paint0_linear_500_7107)"/>
              <defs>
              <linearGradient id="paint0_linear_500_7107" x1="25" y1="3.10192e-07" x2="38" y2="51.5" gradientUnits="userSpaceOnUse">
              <stop stop-color="#48ff91"/>
              <stop offset="1" stop-color="#003716"/>
              </linearGradient>
              </defs>
            </svg>              
          </div>
          <div class="portfolio__project-eclips">
            <svg class="" width="300" height="300" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
          </div>
          <div class="portfolio__project-info">
            <h3 class="portfolio__project-name heading-name">
              Лендинг - <span>Митфиш</span>
            </h3>
            <p class="portfolio__project-description text-small">
              Сайт по оптовой доставке продуктов питания
            </p>
            <ul class="portfolio__project-tags">
              <li class="portfolio__project-tag tag">Лендинг</li>
              <li class="portfolio__project-tag tag">Бизнес</li>
              <li class="portfolio__project-tag tag">Минимализм</li>
            </ul>
          </div>
          <a class="portfolio__project-box" title="Посмотреть"  data-fslightbox="gallery" href="assets/images/case/meatfish.png">
            <div class="portfolio__project-laptop">
              <img loading="lazy" width="450" height="255" src="/assets/images/case/meatfish.png" alt="Проект - Митфиш">
            </div>        
          </a>
          <div class="portfolio__project-btn">
            <a class="portfolio__project-preview green-button" href="#">Перейти на сайт</a>
            <a class="portfolio__project-more button-transparent" href="#">Подробнее</a>
          </div>
        </article>
        <article class="portfolio__project">
          <div class="portfolio__project-decor">
            <svg width="72" height="48" viewBox="0 0 72 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M25.8124 0L0 24L22.8108 45.2092L28.8139 39.6276L12.0062 24L25.8124 11.1632L39.6185 24L36 27.3645L29.3799 21.2092L23.3768 26.7908L46.1876 48L72 24L46.1876 0L36 9.47231L25.8124 0ZM42.0031 15.0539L51.6248 24L42.0031 32.9461L46.1876 36.8368L59.9938 24L46.1876 11.1632L42.0031 15.0539Z" fill="url(#paint0_linear_500_7014)"/>
              <defs>
              <linearGradient id="paint0_linear_500_7014" x1="35.717" y1="8.73923" x2="35.717" y2="50.5753" gradientUnits="userSpaceOnUse">
              <stop stop-color="#48ff91"/>
              <stop offset="1" stop-color="#003716" stop-opacity="0"/>
              </linearGradient>
              </defs>
            </svg>                            
          </div>
          <div class="portfolio__project-eclips">
            <svg class="" width="300" height="300" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
          </div>
          <div class="portfolio__project-info">
            <h3 class="portfolio__project-name heading-name">
              Визитка - <span>Hr & Gpt</span>
            </h3>
            <p class="portfolio__project-description text-small">
              Сайт книги для hr управления с помощью GPT
            </p>
            <ul class="portfolio__project-tags">
              <li class="portfolio__project-tag tag">Визитка</li>
              <li class="portfolio__project-tag tag">Книга</li>
              <li class="portfolio__project-tag tag">Блог</li>
            </ul>
          </div>
          <a class="portfolio__project-box" title="Посмотреть" data-fslightbox="gallery" href="/assets/images/case/hrandgpt.png">
            <div class="portfolio__project-laptop">
              <img loading="lazy" width="450" height="255" src="/assets/images/case/hrandgpt.png" alt="Проект - Hr And Gpt">
            </div>        
          </a>
          <div class="portfolio__project-btn">
            <a class="portfolio__project-preview green-button" href="#">Перейти на сайт</a>
            <a class="portfolio__project-more button-transparent" href="#">Подробнее</a>
          </div>
        </article>
        <article class="portfolio__project">
          <div class="portfolio__project-decor">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7778 14.2222C17.7778 6.36751 24.1453 0 32 0C39.8547 0 46.2222 6.36751 46.2222 14.2222V17.7778H49.7778C57.6325 17.7778 64 24.1453 64 32C64 39.8547 57.6325 46.2222 49.7778 46.2222H46.2222V49.7778C46.2222 57.6325 39.8547 64 32 64C24.1453 64 17.7778 57.6325 17.7778 49.7778V46.2222H14.2222C6.36751 46.2222 0 39.8547 0 32C0 24.1453 6.36751 17.7778 14.2222 17.7778H17.7778V14.2222ZM16.8889 32.4444C22.6394 33.8056 30.301 42.1288 32 48.8889C33.699 42.1288 41.3606 33.8056 47.1111 32.4444C41.3606 31.0833 33.699 22.76 32 16C30.301 22.76 22.6394 31.0833 16.8889 32.4444Z" fill="url(#paint0_radial_500_6944)"/>
              <defs>
              <radialGradient id="paint0_radial_500_6944" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(32 32) rotate(90) scale(32)">
              <stop stop-color="white"/>
              <stop offset="0.457376" stop-color="#48ff91" stop-opacity="0.991115"/>
              <stop offset="1" stop-color="#003716" stop-opacity="0.98"/>
              </radialGradient>
              </defs>
            </svg>                           
          </div>
          <div class="portfolio__project-eclips">
            <svg class="" width="300" height="300" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
          </div>
          <div class="portfolio__project-info">
            <h3 class="portfolio__project-name heading-name">
              Визитка - <span>Wake & Bake</span>
            </h3>
            <p class="portfolio__project-description text-small">
              Школа по обучение готовки тортов и десертов
            </p>
            <ul class="portfolio__project-tags">
              <li class="portfolio__project-tag tag">Визитка</li>
              <li class="portfolio__project-tag tag">Торты</li>
              <li class="portfolio__project-tag tag">Школа</li>
            </ul>
          </div>
          <a class="portfolio__project-box" title="Посмотреть" data-fslightbox="gallery" href="/assets/images/case/wakebake.png">
            <div class="portfolio__project-laptop">
              <img loading="lazy" width="450" height="255" src="/assets/images/case/wakebake.png" alt="Проект - Wake & Bake">
            </div>        
          </a>
          <div class="portfolio__project-btn">
            <a class="portfolio__project-preview green-button" href="#">Перейти на сайт</a>
            <a class="portfolio__project-more button-transparent" href="#">Подробнее</a>
          </div>
        </article>
        <article class="portfolio__project">
          <div class="portfolio__project-decor">
            <svg width="70" height="64" viewBox="0 0 70 64" fill="#48ff91" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M35.4787 63.66L70 39.1395L56.7481 0H13.2519L0 39.1395L0.5 39.4947V39.6175H0.672897L35 64L35.4703 63.666L35.4761 63.6678L35.4787 63.66ZM34.769 62.6448L42.4902 39.6175H2.34984L34.769 62.6448ZM1.21301 38.6613H26.2361L13.7374 1.67056L1.21301 38.6613ZM14.5469 0.956171H55.0526L22.1972 23.5978L14.5469 0.956171ZM56.1611 1.37087L35.8551 15.3644L68.5209 37.8755L56.1611 1.37087ZM68.4815 39.027L36.003 62.0965L48.3826 25.1762L68.4815 39.027ZM22.5203 24.5539L27.287 38.6613H42.8108L47.5296 24.5883L34.9999 15.9537L22.5203 24.5539Z" fill="#48ff91"/>
              <defs>
              <radialGradient id="paint0_radial_500_6912" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(35 28) rotate(53.7751) scale(53.3034 58.3006)">
              <stop stop-color="#48ff91"/>
              <stop offset="1" stop-color="#48ff91" stop-opacity="0"/>
              </radialGradient>
              </defs>
            </svg>                                                                  
          </div>
          <div class="portfolio__project-eclips">
            <svg class="" width="300" height="300" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
          </div>
          <div class="portfolio__project-info">
            <h3 class="portfolio__project-name heading-name">
              Лендинг - <span>Ленинский</span>
            </h3>
            <p class="portfolio__project-description text-small">
              Сайт для сервисного центра техники
            </p>
            <ul class="portfolio__project-tags">
              <li class="portfolio__project-tag tag">Лендниг</li>
              <li class="portfolio__project-tag tag">Бизнес</li>
              <li class="portfolio__project-tag tag">Ремонт</li>
            </ul>
          </div>
          <a class="portfolio__project-box" title="Посмотреть" data-fslightbox="gallery" href="/assets/images/case/lenenskiy.png">
            <div class="portfolio__project-laptop">
              <img loading="lazy" width="450" height="255" src="/assets/images/case/lenenskiy.png" alt="Проект - Wake & Bake">
            </div>        
          </a>
          <div class="portfolio__project-btn">
            <a class="portfolio__project-preview green-button" href="#">Перейти на сайт</a>
            <a class="portfolio__project-more button-transparent" href="#">Подробнее</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>