<section class="portfolio" id="portfolio">
  <div class="cursor-dot-outline"></div>
  <div class="cursor-dot"></div> 
  <div class="portfolio__inner">
    <div class="portfolio__container container">
      <div class="portfolio__head">
        <h2 class="portfolio__title heading-title title-animation">Портфолио</h2>
        <p class="portfolio__description text-description">Ознакомьтесь с моими реализованными проектами, которые показывают качество работы и индивидуальный подход к каждому клиенту.</p>
      </div>
      <div class="portfolio__case">
        <article class="portfolio__project card">
          <div class="portfolio__project-eclips">
            <svg class="" width="300" height="300" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
          </div>
          <div class="portfolio__project-box" title="Посмотреть">
            <div class="portfolio__project-laptop">
              <img loading="lazy" width="450" height="255" src="/assets/images/case/meatfish.png" alt="Проект - Митфиш">
            </div>        
          </div>
          <div class="portfolio__project-overlay">
            <div class="portfolio__project-info">
              <h3 class="portfolio__project-name heading-name">
                Лендинг - <span>Митфиш</span>
              </h3>
              <p class="portfolio__project-description text-small">
                Сайт по оптовой доставке продуктов питания
              </p>
              <ul class="portfolio__project-tags">
                <li class="portfolio__project-tag tag">Лендинг</li>
                <li class="portfolio__project-tag tag">Бизнес</li>
                <li class="portfolio__project-tag tag">Минимализм</li>
              </ul>
            </div>
            <div class="portfolio__project-btn">
              <a class="portfolio__project-preview green-button" href="#">Перейти на сайт</a>
              <a class="portfolio__project-more button-transparent" href="#">Подробнее</a>
            </div>
          </div>
        </article>
        <article class="portfolio__project card">
          <div class="portfolio__project-eclips">
            <svg class="" width="300" height="300" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
          </div>
          <a class="portfolio__project-box" title="Посмотреть">
            <div class="portfolio__project-laptop">
              <img loading="lazy" width="450" height="255" src="/assets/images/case/hrandgpt.png" alt="Проект - Hr and Gpt">
            </div>        
          </a>
          <div class="portfolio__project-overlay">
            <div class="portfolio__project-info">
              <h3 class="portfolio__project-name heading-name">
                Визитка - <span>Hr & Gpt</span>
              </h3>
              <p class="portfolio__project-description text-small">
                Сайт книги для hr управления с помощью GPT
              </p>
              <ul class="portfolio__project-tags">
                <li class="portfolio__project-tag tag">Визитка</li>
                <li class="portfolio__project-tag tag">Книга</li>
                <li class="portfolio__project-tag tag">Блог</li>
              </ul>
            </div>
            <div class="portfolio__project-btn">
              <a class="portfolio__project-preview green-button" href="#">Перейти на сайт</a>
              <a class="portfolio__project-more button-transparent" href="#">Подробнее</a>
            </div>
          </div>
        </article>
        <article class="portfolio__project card">
          <div class="portfolio__project-eclips">
            <svg class="" width="300" height="300" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
          </div>
          <div class="portfolio__project-box" title="Посмотреть">
            <div class="portfolio__project-laptop">
              <img loading="lazy" width="450" height="255" src="/assets/images/case/wakebake.png" alt="Проект - Wake & Bake">
            </div>        
          </div>
          <div class="portfolio__project-overlay">
            <div class="portfolio__project-info">
              <h3 class="portfolio__project-name heading-name">
                Визитка - <span>Wake & Bake</span>
              </h3>
              <p class="portfolio__project-description text-small">
                Школа по обучение готовки тортов и десертов
              </p>
              <ul class="portfolio__project-tags">
                <li class="portfolio__project-tag tag">Визитка</li>
                <li class="portfolio__project-tag tag">Торты</li>
                <li class="portfolio__project-tag tag">Школа</li>
              </ul>
            </div>
            <div class="portfolio__project-btn">
              <a class="portfolio__project-preview green-button" href="#">Перейти на сайт</a>
              <a class="portfolio__project-more button-transparent" href="#">Подробнее</a>
            </div>
          </div>
        </article>
        <article class="portfolio__project card">
          <div class="portfolio__project-eclips">
            <svg class="" width="300" height="300" viewBox="0 0 260 178" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8" filter="url(#filter0_f_8_1362)">
              <ellipse cx="187.5" cy="43.9995" rx="87.5" ry="34" fill="#48ff91"/>
              </g>
              <defs>
              <filter id="filter0_f_8_1362" x="0" y="-90.0005" width="375" height="268" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_8_1362"/>
              </filter>
              </defs>
            </svg>
          </div>
          <div class="portfolio__project-box" title="Посмотреть">
            <div class="portfolio__project-laptop">
              <img loading="lazy" width="450" height="255" src="/assets/images/case/lenenskiy.png" alt="Проект - Ленинский 136">
            </div>        
          </div>
          <div class="portfolio__project-overlay">
            <div class="portfolio__project-info">
              <h3 class="portfolio__project-name heading-name">
                Лендинг - <span>Ленинский</span>
              </h3>
              <p class="portfolio__project-description text-small">
                Сайт для сервисного центра техники
              </p>
              <ul class="portfolio__project-tags">
                <li class="portfolio__project-tag tag">Лендинг</li>
                <li class="portfolio__project-tag tag">Бизнес</li>
                <li class="portfolio__project-tag tag">Сервис</li>
              </ul>
            </div>
            <div class="portfolio__project-btn">
              <a class="portfolio__project-preview green-button" href="#">Перейти на сайт</a>
              <a class="portfolio__project-more button-transparent" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>