<section class="questions">
  <div class="questions__inner">
    <div class="questions__container container">
      <div class="questions__head">
        <h2 class="questions__title heading-title title-animation">Часто спрашивают</h2>
      </div>
      <ul class="questions__list">
        <li class="questions__accordion card">
          <div class="questions__accordion-row">
            <h3 class="questions__accordion-title heading-name">Как происхожит оплата ?</h3>
            <div class="questions__accordion-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
              </svg>
            </div>
          </div>
          <div class="questions__accordion-content">
            <br>
            <p class="questions__accordion-description text-small">Оплата осуществляется в два этапа: 50% предоплаты в начале работы и 50% после завершения проекта. Это позволяет гарантировать качество работы и обеспечить уверенность для обеих сторон.</p>
          </div>
        </li>
        <li class="questions__accordion card">
          <div class="questions__accordion-row">
            <h3 class="questions__accordion-title heading-name">Куда я могу провести оплату ?</h3>
            <div class="questions__accordion-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
              </svg>
            </div>
          </div>
          <div class="questions__accordion-content">
            <br>
            <p class="questions__accordion-description text-small">Оплату можно провести удобным для вас способом, на банковскую карту, электронные кошельки или криптовалюту. Все детали обговариваются, чтобы выбрать оптимальный способ оплаты.</p>
          </div>
        </li>
        <li class="questions__accordion card">
          <div class="questions__accordion-row">
            <h3 class="questions__accordion-title heading-name">Что значит "Сайт под ключ" ?</h3>
            <div class="questions__accordion-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
              </svg>
            </div>
          </div>
          <div class="questions__accordion-content">
            <br>
            <p class="questions__accordion-description text-small">Сайт под ключ — это готовое решение, которое включает все этапы разработки: от проектирования до полной настройки и запуска.</p>
          </div>
        </li>
        <li class="questions__accordion card">
          <div class="questions__accordion-row">
            <h3 class="questions__accordion-title heading-name">Какие настроики SEO вы делаете ?</h3>
            <div class="questions__accordion-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path class="questions__accordion-path" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
              </svg>
            </div>
          </div>
          <div class="questions__accordion-content">
            <br>
            <ul class="questions__accordion-list">
              <li class="questions__accordion-item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                </svg>
                <span class="text-small">Прописываю мета-теги</span>
              </li>
              <li class="questions__accordion-item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                </svg>
                <span class="text-small">Семантическая верстка</span>
              </li>
              <li class="questions__accordion-item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                </svg>
                <span class="text-small">Open-graph и Schema.org разметка</span>
              </li>
              <li class="questions__accordion-item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                </svg>
                <span class="text-small">Настройка robots.txt и sitemap.xml</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>