<section class="reviews">
  <div class="reviews__inner">
    <div class="reviews__container container">
      <div class="reviews__head">
        <h2 class="reviews__title heading-title">Что говорят клиенты?</h2>
        <p class="reviews__description text-description">Мнения клиентов — лучшее подтверждение качества работы. Ознакомьтесь с их впечатлениями о сотрудничестве и убедитесь в надежности моей работы.</p>
      </div>
      <div class="reviews__body">
        <div class="reviews__slider">
          
        </div>
      </div>
    </div>
  </div>
</section>