<section class="step-work main-section">
  <div class="step-work__inner">
    <div class="step-work__container container">
      <h2 class="step-work__title heading-title title-animation" data-aos="fade-right">Этапы работы</h2>
      <div class="step-work__body">
        <ul class="step-work__list">
          <li class="step-work__row">
            <div class="step-work__number" data-aos="fade-left">1</div>
            <div class="step-work__info">
              <h3 class="step-work__label text-default">Связаться со мной</h3>
              <p class="step-work__description text-small">Заполните контактную форму или напишите мне напрямую, чтобы обсудить ваш проект и задать все интересующие вопросы.</p>
            </div>
          </li>
          <li class="step-work__row" data-aos="fade-left">
            <div class="step-work__number">2</div>
            <div class="step-work__info">
              <h3 class="step-work__label text-default">Обсуждение проекта</h3>
              <p class="step-work__description text-small">Мы детально обсуждаем ваши цели и требования, чтобы определить основные задачи и подходы к реализации проекта.</p>
            </div>
          </li>
          <li class="step-work__row" data-aos="fade-left">
            <div class="step-work__number">3</div>
            <div class="step-work__info">
              <h3 class="step-work__label text-default">Разработка проекта</h3>
              <p class="step-work__description text-small">Обсудив проект и дизайн, мы приступаем к разработке: программирование, тех.настройка, тестирование и оптимизация.</p>
            </div>
          </li>
          <li class="step-work__row" data-aos="fade-left">
            <div class="step-work__number">4</div>
            <div class="step-work__info">
              <h3 class="step-work__label text-default">Готовность работы</h3>
              <p class="step-work__description text-small">После внесения всех необходимых правок работа считается завершённой, и продукт запускается в интернет.</p>
            </div>
          </li>              
        </ul>
      </div>
    </div>
  </div>
</section>